 .parent{
    /* border: 2px dashed indigo; */
    position: relative;
    /* width: fit-content; */
    /* height: fit-content; */
    /* background-color: yellowgreen; */
} 
.child1{
    /* border: 2px solid black; */
    position: relative;
    height: fit-content;
    width: fit-content;
    padding:5px 10px;
    text-align: center;
    /* height: 5px; */
    border-radius: 10px;
    background-color: bisque;
}
.child2{
    display: none;
    border: 2px dotted blue;
    position: absolute; 
}
/* .child3{
    /* height: 50px; */
.child3:hover{
    background-color: pink;
}
.parent:hover .child2{
    display: block;
}