body{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    position: relative;
}
.div{
    height: 300px;
    font-size: 30px;
    position: absolute;
    width: 300px;
    background-color: black;
    /* transform: rotate(30deg; */
    transform-style: preserve-3d;
    border: 2px solid black;
    transform: rotateY(50deg);
}